<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<div class="container">
<div style="padding-top:40px;">
        <div class="row"style="padding-top:0px; padding-bottom:45px; margin-top:0px;">  
                <div class="col-md-12"><div style="font-size: 36px;" class="text-center">Servicios</div></div> 
             </div>
<div class="row ">
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 shadow p-3 super-card animated bounceInUp slow ">
                <div class="card border-success shadow p-4 my-card" ><li class="fa fa-user-tie icon-3x"></li></div>
                <div class=" text-padding text-center"><h4>Asesor&iacute;a en Negocios</h4></div>
                <div class="space text-center ">Gestionamos sus  necesidades estrat&eacute;gicas y conexiones empresariales.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 shadow p-3 super-card animated bounceInUp delay-1 slow">
                <div class="card border-success shadow  p-4 my-card"><span class="fa fas fa-coins icon-2x"></span></div>
                <div class="tra-space text-padding text-center"><h4>Canal de Ventas</h4></div>
                <div class="extra-space text-center mt-2">Nuevos clientes y un equipo comercial para impulsar sus productos y  servicios.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 shadow p-3 super-card animated bounceInUp delay-2 slow">
                <div class="card border-success shadow p-4 my-card" ><span class="fa fas fa-desktop icon-2x" ></span></div>
                <div class="text-padding text-center"><h4>Estado de Cuenta</h4></div>
                <div class="text-center mt-2">Una plataforma online de pagos m&oacute;viles con informaci&oacute;n detallada de operaciones.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 shadow p-3 super-card animated bounceInUp delay-3 slow">
                <div class="card border-success shadow p-4 my-card" ><span class="fa fas fa-landmark icons-2x" aria-hidden="true"></span></div>
                <div class="text-padding text-center"><h4>Financiamiento</h4></div>
                <div class="extra-space text-center mt-2">Financiamiento a bajo  costo para compras en la   Red, la que pagar&aacute; con  ventas futuras.</div>
            </div>
        </div>
     </div>
</div>
</div>
