

<div class="container">
  <!--[showNavigationIndicators]="showNavigationIndicators"-->
<ngb-carousel [showNavigationArrows]="showNavigationArrows" >
  <ng-template ngbSlide style="height:200px;">
    <img src="assets/imgs/1.png"  alt="Random first slide" class="background animated">
    <img src="assets/imgs/inferior1.png" class="first-layer animated slideInLeft ">
    <img src="assets/imgs/inferior2.png" class="second-layer animated slideInLeft ">
    <div class="carousel-caption" >
      <div class="carousel-location">
        <img src="assets/imgs/icon-1.png" style ="align-content: left;" class="animated fadeIn delay-2">
        <h1 class="animated slideInLeft delay-1">Red de Negocio</h1>
        <p class="animated slideInLeft delay-1" style="font-size: 24px">Experiencia de 10 años generando negocios en El Salvador.</p></div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!----<img src="assets/imgs/3.png" style="position:absolute"alt="Random third slide">-->
    <img src="assets/imgs/2.png" alt="Random second slide">
    <img src="assets/imgs/inferior1.png" class="first-layer animated slideInLeft ">
    <img src="assets/imgs/inferior2.png" class="second-layer animated slideInLeft ">
    <div class="carousel-caption" >
      <div class="carousel-location">
        <img src="assets/imgs/icon-2.png" style ="align-content: left" class="animated fadeIn delay-2">
        <h1 class="animated slideInLeft delay-1">Venda m&aacute;s</h1>
        <p class="animated slideInLeft delay-1" style="font-size: 24px;">En la red puede aprovechar su capacidad instalada con nuevos clientes</p></div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/imgs/3.png" alt="Random third slide">
    <img src="assets/imgs/inferior1.png" class="first-layer animated slideInLeft">
    <img src="assets/imgs/inferior2.png" class="second-layer animated slideInLeft">
    <div class="carousel-caption" >
      <div class="carousel-location">
        <img src="assets/imgs/icon-3.png" style ="align-content: left" class="animated fadeIn delay-2">
        <h1 class="animated slideInLeft delay-1">Compre...</h1>
        <p class="animated slideInLeft delay-1" style="font-size:24px;">Adquiera productos y servicios para inversi&oacute;n en su negocio y gastos operativos</p></div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="background-layer"></div>
    <img src="assets/imgs/4.png" alt="Random third slide"  style="position: relative;">
    <img src="assets/imgs/inferior1.png" class="first-layer animated slideInLeft">
    <img src="assets/imgs/inferior2.png" class="second-layer animated slideInLeft">
    <div class="carousel-caption" >
      <div class="carousel-location">
        <img src="assets/imgs/icon-4.png" style ="align-content: left" class="animated fadeIn delay-2">
        <h1 class="animated slideInLeft delay-1">Mayor Rentabilidad</h1>
        <p class="animated slideInLeft delay-1" style="font-size: 24px;">Sus ventas adicionales en la Red le generan ganancias extras</p></div>
    </div>
  </ng-template>
</ngb-carousel>
</div>






