<div class="container">
  <div style="padding-top: 100px;">
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12">
      <p style="text-align: center; font-size: 30px;">¿Qu&eacute; tipo de empresa tiene?</p>
      </div>
    </div>
  <div class="row">
<div class="col-md-4 " >
    <div class="text-center" ><img src="assets/imgs/body1.jpg" class="cntr-image shadow" ></div>
    <br>
  <div class="text-center"><h4>Inventarios</h4></div>
  <br>
  <div class="text-center">Una baja rotación en los inventarios, afecta directamente la Rentabilidad y la Liquidez en tu empresa, porque esto significa tener un capital inmovilizado, además de un incremento en los costos por deterioro, obsolescencia y costos administrativos.</div>
</div>

<div class="col-md-4">
    <div class="text-center"><img src="assets/imgs/body2.png" class="cntr-image shadow" ></div>
    <br>
    <div class="text-center"><h4>Servicios</h4></div>
    <br>
  <div class="text-center">Espacios vacíos, tiempos sin servicios, vallas publicitarias o habitaciones de hotel sin rentar, son oportunidades de ingresos perdidos y no recuperables, lo que afecta directamente en la Rentabilidad e inevitablemente un aumento de los costos fijos.</div>

  </div>
<div class="col-md-4">
    <div class="text-center" ><img src="assets/imgs/body3.jpg" class="cntr-image shadow" ></div>
    <br>
    <div class="text-center"><h4>Producci&oacute;n</h4></div>
    <br>
  <div class="text-center">Una maquinaria con tiempos ociosos de producción y personal con bajos indicadores de rendimiento, ocasionado por una baja en las ventas, tiene el efecto de encarecer tus costos de producción y afecta directamente tu competitividad en el mercado.</div>
  </div>
      
</div>
</div>
</div>
