
.background{
    position: relative;
    top:0px;
    left:0px;
  }
  .first-layer{
    position: absolute;
    top:-100px;
    left:-45px;
    z-index: 1;
    animation-delay: 0ms;
    max-width: 980px;
  }
  .second-layer{
    position: absolute;
    top: -100px;
    left: -170px;
    z-index:2;
    animation-delay: 100ms;
    max-width: 980px;
  }
  .carousel-location{
    position: absolute;
    top: -350px;
    left: -140px;
    
    max-width: 300px;
  }
  .delay-1{
    animation-delay:600ms;
  }
  .delay-2{
    animation-delay:800ms;
  }
  .carousel-indicators li{
      width: 17px!important;
      height: 17px!important;
      border-radius: 50%;
  }

